<h1>Weight Records</h1>

<%= form_with url: filter_weights_path, method: :get, remote: true do |form| %>
  <%= form.select :period, options_for_select([['1 Week', '1_week'], ['1 Month', '1_month'], ['3 Months', '3_months']]), prompt: 'Select Period' %>
  <%= form.submit 'Filter' %>
<% end %>

<%= render 'chart', weights: @weights %>
