<div class="login-main">

  <div class="container">
    <div class="session-title">
    <h2>Log in</h2>
  </div>
    <form class="new-user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
      <ul>
        <%= render 'devise/shared/error_messages', model: @user %>
      </ul>
      <div class="field">
        <label for="user_email">Email</label>
        <input type="email" name="user[email]" id="user_email" autofocus="autofocus" />
      </div>
      <div class="field">
        <label for="user_password">Password</label>
        <input type="password" name="user[password]" id="user_password" autocomplete="off" />
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <label for="user_remember_me">Remember me</label>
          <input type="checkbox" name="user[remember_me]" id="user_remember_me" />
        </div>
      <% end %>
      <div class="actions">
        <input type="submit" name="commit" value="Log in" />
      </div>
    </form>
  </div>
</div>
