/*newファイル*/
.chat-main {
  /* 全体的なスタイル */
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: orange;
  text-align: center;
  margin-top: 100px;
}

.chat-main h1 {
  font-size: 30px;
  color: rgb(19, 19, 36);
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}


/******************************************************** 
　トップページ 
********************************************************/

/*index写真*/
.top-image {
  width: 700px;
  height: 700px;
  text-align: center;
  object-fit: cover;
  opacity: 30%;
}
