

<div class="chat-main">
  <div class = "log-edit-title">
    <h1>運動記録編集</h1>


  <%= form_with(model: @log, local: true) do |form| %>
    <%= render 'form', form: form, submit_label: "変更する" %>
  <% end %>
</div>
</div>
